.singup-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: stretch;
}


.singup-password-field {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

